{% extends 'base.html.twig' %}


{% block contain %} 

<div class="container-fluid agendas "> 



<div class = "row justify-content-around text-center"> 
<a class ="enlace" href={{path ('list',{'type':'personal'})}}> <img src ="/imagenes/personal.png" alt = "Agenda Personal "> <br> <p> Agenda Personal </p></a>





<a class ="enlace" href={{path ('list',{'type':'profesional'})}}> <img src ="/imagenes/profesional.png" alt = "Agenda Profesional "> <br> <p>  Agenda Profesional </p> </a>




<a class ="enlace" href={{path ('list',{'type':'global'})}}> <img class = "globo" src ="/imagenes/global.png" alt = "Agenda Global " height="300" width="300"> <br> <p> Agenda Global </p></a>


</div>


</div>


{% endblock %}