<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agenda Symfony{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/estilo/estilos.css">
        {% block stylesheets %}
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
       
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
         <div class ="pagina"> 
         {% block navbar %} 
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mx-auto navegador">
                     <li class="nav-item p-2">
                        <h1 class ="titulo" > Mi agenda </h1>
                     </li>
            
                    <li class="nav-item p-2 final">
                         <a class="nav-link item" href="{{ path('contacto_new') }}"><h2>Agregar</h2></a>
                    </li>
       
                    <li class="nav-item p-2 final">
                        <a class="nav-link item" href="{{ path ('contacto_index')}}"><h2>Volver</h2></a>
                    </li>
                </ul>
        </nav>

             {% block contain %} {% endblock %}

             {% block footer %} 
             <div class ="prueba"> </div>
            <footer class="text-center"> 
 
            Página realizada por plopezr@cshg.es 
   
            <a href="https://twitter.com/home"> Twitter</a> 
        </footer>
        
        
        {% endblock %}
      </div> 
    {% endblock %}
        
   

        
        




 {% endblock %}
    </body>
</html>
